.page {
    margin-top: 48px;
    padding: 24px;

    .switch {
        color: var(--color-text-primary);
        background-color: var(--color-surface);

        height: 40px;
        width: 215px;
        padding: 4px;

        display: flex;
        align-items: center;
        gap: 8px;

        line-height: 1.5;
        margin: 0 auto;

        cursor: pointer;

        .switchElement {
            height: 100%;
            padding: 4px 12px;

            &.switchActive {
                background-color: var(--color-brand-primary);
                color: white;
            }
        }
    }

    .info {
        display: flex;
        justify-content: center;
        margin-top: 24px;
        gap: 50px;
        color: var(--color-text-primary);

        .title {
            font-size: 28px;
            font-weight: 600;
            margin: 0;
        }

        .profile {
            display: flex;
            flex-direction: column;
            gap: 32px;

            flex-grow: 1;
            max-width: 575px;

            .user {
                display: flex;
                gap: 24px;
                align-items: center;

                img {
                    height: 64px;
                    width: 64px;
                    border-radius: 32px;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    justify-content: center;
                    justify-content: start;

                    
                    .userNameChange {
                        cursor: pointer;
                    }

                    input {
                        background-color: var(--color-bg);
                        color: var(--color-text-primary);
                        border: none;
                        pointer-events: none;
                        user-select: text;
                        min-width: 100px;

                        &:focus {
                            outline: none;
                        }
                    }
                    

                    .changePhoto {
                        color: var(--color-text-secondary);
                        cursor: pointer;
                    }
                }
            }

            .inputLabel {
                display: flex;
                flex-direction: column;
                gap: 12px;

                span {
                    display: flex;
                    gap: 8px;
                }

                .profileInput {
                    color: var(--color-text-secondary);
                    background-color: var(--color-surface-subtle);
                    border: 1px solid var(--color-border);
                    width: 330px;
                    height: 48px;
                    padding: 14px;

                    &:focus {
                        outline: none;
                        border: 1px solid var(--color-brand-secondary);
                        color: var(--color-text-primary);
                    }
                }

                textarea.profileInput {
                    width: 100%;
                    min-height: 110px;
                    resize: none;
                }

                .descriptionWarn {
                    font-size: 16px;
                    color: var(--color-text-secondary);

                    .error {
                        color: var(--color-error)
                    }
                }
            }

            .saveInfoButton {
                width: 244px;
            }
        }

        .preferences {
            flex-grow: 1;
            max-width: 575px;

            display: flex;
            flex-direction: column;
            gap: 32px;

            .logoutButton {
                width: 144px;
            }
        }
    }    
}

.themeSwitch {
    display: flex;
    align-items: center;
    cursor: pointer;

    .switchTitle {
        margin-left: 12px;
        color: var(--color-text-primary);
    }

    .slider {
        position: relative;
        width: 48px;
        height: 28px;
        background-color: var(--color-surface);
        border-radius: 14px;

        &::after {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            background: #fff;
            border-radius: 50%;
            top: 4px;
            left: 4px;
            transition: all 0.2s;
        }
    }

    input:checked + .slider {
        &::after {
            transform: translateX(20px);
            background-color: var(--color-brand-primary);
        }
    }
}

@media (max-width: 768px) {
    .page {
        padding: 12px;
    }

    .info {
        flex-direction: column-reverse;
    }
}