.footer {
    height: 68px;
    width: 100%;

    background-color: var(--color-surface);
    color: var(--color-brand-primary);

    text-align: center;
    line-height: 68px;
    font-size: 18px;
    margin-top: 2px;
}
